html,
body {
	padding: 0;
	margin: 0;
	height: 100svh;
	width: 100svw;
	box-sizing: border-box;
	background-image: url("/images/bliss.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.start-bar {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: blue;
	width: 100%;
}
